cat > ansible.cfg << 'EOF'
[defaults]
inventory           = inventory.ini
remote_user         = ubuntu
private_key_file    = ~/.ssh/smia-keypair.pem
host_key_checking   = False
retry_files_enabled = False
gathering           = smart
fact_caching        = memory

[ssh_connection]
pipelining          = True
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s
EOF